.jumbotron
  %i.icon-lightbulb.icon-large.idea
        
  .control-group
    .controls
      .alert.alert-block
        %h3
          Oops that page doesn't exist

  .control-group
    .controls
      %ul.unstyled
        %li 
          =link_to "Go to index",  ideas_path
    


